:root{
    --color-blue: rgba(71, 173, 241, 1);
    --color-purple:  rgba(156, 114, 228, 1);
    --color-green: rgba(100, 192, 169, 1);
    --color-orange: rgba(242, 158, 51, 1);
    --color-pink: rgba(216, 99, 160, 1);
    --color-lime:  rgba(176, 201, 38, 1);
}






